@import "./reset";

.body{
  font-size: 12px;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.title{
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DADADA;
  h3 {
    color: rgb(182, 175, 175);
    font-weight: 100;
    margin-left: 20px;
  }
}
.tool{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .search{
    display: flex;
    align-items: stretch;
    // max-width: 20%;
    input {
      padding: 5px 10px 5px 10px;
      border: 1px solid #DADADA;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    button {
      background-color: #66C0DE;
      color: white;
      border: none;
      padding: 5px 10px 5px 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    button:hover{
      background-color: #3D7AB6;
    }
  }
  .sort{
    // max-width: 10%;
    select{
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      border: 1px solid #DADADA;
    }
    select:hover{
      cursor: pointer;
    }
  }
  .additem{
    // max-width: 40%;
    .togglebtn{
      width: 100%;
      padding: 7px 10px 7px 10px;
      border: none;
      border-radius: 5px;
      background-color: #66C0DE;
      color: white;
    }
    .togglebtn:hover{
      background-color: #3D7AB6;
    }
    &__content{
      margin-top: 10px;
      input{
        padding: 5px 10px 5px 10px;
        border: 1px solid #DADADA;
        border-radius: 5px;
      }
      select{
        padding: 5px 10px 5px 10px;
        border: 1px solid #DADADA;
        border-radius: 5px;
      }
      select:hover{
        cursor: pointer;
      }
      button{
        padding: 5px 10px 5px 10px;
        border: none;
        border-radius: 5px;
      }
      .submit{
        background-color: rgb(45, 184, 45);
        color: white;
      }
      .submit:hover{
        background-color: green;
      }
      .cancel{
        background-color: white;
        color: black;
        border: 1px solid #DADADA;
      }
      .cancel:hover{
        background-color: rgb(175, 173, 173);
      }
    }
  }
}

.table{
  margin-top: 10px;
  h4 {
    background-color: #E0F0D9;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: green
  }
  table{
    width: 100%;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    .id{
      width: 10%;
    }
    .name{
      width: 60%;
      input{
        width: 100%;
        padding: 5px 10px 5px 10px;
        border: 1px solid #DADADA;
        border-radius: 5px;
      }
    }
    .level{
      width: 15%;
      select{
        padding: 5px 10px 5px 10px;
        border: 1px solid #DADADA;
        border-radius: 5px;
      }
      select:hover{
        cursor: pointer;
      }
    }
    .action{
      width: 15%;
      .cancel{
        background-color: white;
        color: black;
        border: 1px solid #DADADA;
      }
      .cancel:hover{
        background-color: rgb(175, 173, 173);
      }
      .save{
        background-color: rgb(45, 184, 45);;
      }
      .save:hover{
        background-color: green;
      }
    }
    th, tr, td{
      border-bottom: 1px solid #DADADA;
      border-collapse: collapse;
      text-align: left;
      padding: 10px 5px 10px 5px;
    }
    td{
      button{
        padding: 5px 8px 5px 8px;
        border-radius: 5px;
        border: none;
        color: white;
      }
      .edit{
        background-color: #ECAD52;
      }
      .edit:hover{
        background-color: #be8534;
      }
      .delete{
        background-color: #D4524E;
      }
      .delete:hover{
        background-color: rgb(163, 4, 4);;
      }
    }
    span{
      padding: 5px 8px 5px 8px;
      color: white;
      border-radius: 5px;
    }
    .high{
      background-color: #D4524E;
    }
    .medium{
      background-color: #66C0DE;
    }
    .small{
      background-color: #777777;
    }
  }
}