html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.body {
  font-size: 12px;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DADADA;
}
.title h3 {
  color: #b6afaf;
  font-weight: 100;
  margin-left: 20px;
}

.tool {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.tool .search {
  display: flex;
  align-items: stretch;
}
.tool .search input {
  padding: 5px 10px 5px 10px;
  border: 1px solid #DADADA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tool .search button {
  background-color: #66C0DE;
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tool .search button:hover {
  background-color: #3D7AB6;
}
.tool .sort select {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid #DADADA;
}
.tool .sort select:hover {
  cursor: pointer;
}
.tool .additem .togglebtn {
  width: 100%;
  padding: 7px 10px 7px 10px;
  border: none;
  border-radius: 5px;
  background-color: #66C0DE;
  color: white;
}
.tool .additem .togglebtn:hover {
  background-color: #3D7AB6;
}
.tool .additem__content {
  margin-top: 10px;
}
.tool .additem__content input {
  padding: 5px 10px 5px 10px;
  border: 1px solid #DADADA;
  border-radius: 5px;
}
.tool .additem__content select {
  padding: 5px 10px 5px 10px;
  border: 1px solid #DADADA;
  border-radius: 5px;
}
.tool .additem__content select:hover {
  cursor: pointer;
}
.tool .additem__content button {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
}
.tool .additem__content .submit {
  background-color: #2db82d;
  color: white;
}
.tool .additem__content .submit:hover {
  background-color: green;
}
.tool .additem__content .cancel {
  background-color: white;
  color: black;
  border: 1px solid #DADADA;
}
.tool .additem__content .cancel:hover {
  background-color: #afadad;
}

.table {
  margin-top: 10px;
}
.table h4 {
  background-color: #E0F0D9;
  width: 100%;
  padding: 10px 20px 10px 20px;
  color: green;
}
.table table {
  width: 100%;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}
.table table .id {
  width: 10%;
}
.table table .name {
  width: 60%;
}
.table table .name input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  border: 1px solid #DADADA;
  border-radius: 5px;
}
.table table .level {
  width: 15%;
}
.table table .level select {
  padding: 5px 10px 5px 10px;
  border: 1px solid #DADADA;
  border-radius: 5px;
}
.table table .level select:hover {
  cursor: pointer;
}
.table table .action {
  width: 15%;
}
.table table .action .cancel {
  background-color: white;
  color: black;
  border: 1px solid #DADADA;
}
.table table .action .cancel:hover {
  background-color: #afadad;
}
.table table .action .save {
  background-color: #2db82d;
}
.table table .action .save:hover {
  background-color: green;
}
.table table th, .table table tr, .table table td {
  border-bottom: 1px solid #DADADA;
  border-collapse: collapse;
  text-align: left;
  padding: 10px 5px 10px 5px;
}
.table table td button {
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  border: none;
  color: white;
}
.table table td .edit {
  background-color: #ECAD52;
}
.table table td .edit:hover {
  background-color: #be8534;
}
.table table td .delete {
  background-color: #D4524E;
}
.table table td .delete:hover {
  background-color: #a30404;
}
.table table span {
  padding: 5px 8px 5px 8px;
  color: white;
  border-radius: 5px;
}
.table table .high {
  background-color: #D4524E;
}
.table table .medium {
  background-color: #66C0DE;
}
.table table .small {
  background-color: #777777;
}

/*# sourceMappingURL=index.css.map */
