/** @format */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.body {
  font-size: 12px;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.tool {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 792px) {
  .tool {
    flex-direction: column-reverse;
    align-items: center;
  }
}
